on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "musb-hdrc"
    setprop sys.usb.ffs.aio_compat 1

on fs && property:ro.debuggable=0
    # distinguish USB shoulde connect or not, i.e. CDP vs SDP
    write /sys/class/udc/musb-hdrc/device/cmode 2
    # set charging free due to it wait for USB activation
    start adbd

on post-fs
    # Support A/B feature for emmc boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b
    symlink /dev/block/mmcblk0boot0 /dev/block/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/by-name/preloader_b
    exec u:r:update_engine:s0 root root -- /system/bin/mtk_plpath_utils

on boot
    # Kích hoạt node cảm ứng của Chipone
    chown system system /dev/cts_sysedp
    chmod 0660 /dev/cts_sysedp

    # Phân quyền cho bộ điều khiển cảm ứng MediaTek
    chown system system /sys/devices/platform/mtk-tpd2.0/change_rate
    chmod 0664 /sys/devices/platform/mtk-tpd2.0/change_rate
    
    # Cấu hình các tham số TPD
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs
